<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196504183231-1939baqgcq6na5hc6rco7srn171on2qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196504183231-1939baqgcq6na5hc6rco7srn171on2qn</string>
	<key>API_KEY</key>
	<string>AIzaSyDfT0m_YMGP7P3tf_O4r6_hC1MayggPu_o</string>
	<key>GCM_SENDER_ID</key>
	<string>196504183231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miraiApp</string>
	<key>PROJECT_ID</key>
	<string>mirai-db-56095</string>
	<key>STORAGE_BUCKET</key>
	<string>mirai-db-56095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196504183231:ios:393e4cd1381cd82737c10a</string>
</dict>
</plist>